.cabeçalho{background-color: #c9f5b0; color: rgb(8, 82, 17); display: flex; justify-content: space-around;}
.imagem-logo{width: 150px;px;}
.cabeçalho-lista{display: inline-block;margin:0 16px;}
.site{background-color: #c9f5b0; color :#c9f5b0;}
.immagem-jogadores{width: 100px; height: 80px}
.rodape{background-color: #c9f5b0; color: rgb(5, 80, 14);display:flex; justify-content: space-around;}
.jogadores-div{display: inline-block;}
.jogadores{text-align: center; color:rgb(5, 80, 14)}
.clube{ color: rgb(0, 70, 12); font-weight: 700; font-size: 20px;}
.titulos{text-align: center; color: rgb(5, 85, 45);}